@media (max-width: 768px) {
  img {
    width: 60px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  img {
    width: 70px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  img {
    width: 80px;
  }
}

@media (min-width: 1200px) {
  img {
    width: 90px;
  }
}